@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

@import 'base/mixins.scss';
@import 'base/variables.scss';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.hamburger{
    display: none;
    position: fixed;
    height: 21px;
    top: 60px;
    right: 20px;
    span{
        display: block;
        background-color: $main_color;
        height: 3px;
        width: 35px;
        margin-bottom: 3px;
    }
    &_active{
        span{
            transition: 0.5s all;
            margin-bottom: -2px;
            &:nth-child(1){
                transform: translateY(3px) rotate(-45deg);
            }
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                transform: translateY(3px) rotate(45deg);
            }
        }
    }
}

@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/countries';
@import 'blocks/promo';
@import 'blocks/quessucc';
@import 'blocks/branches';
@import 'blocks/advantages';
@import 'blocks/variants';
@import 'blocks/begin';
@import 'blocks/footer';
@import 'blocks/media';